-
  let title = __('archives.title')

  let archives = [], archive = null, date = null

  site.posts.forEach(post => {
    date = new Date(post.date)
    archive = archives.find(arc => arc.date.getFullYear() === date.getFullYear() &&
                                   arc.date.getMonth() === date.getMonth() )
    if (archive) archive.posts.push(post)
    else archives.push({
      date: date,
      posts: [post],
    })
  })

  const number = archives.length

.simple-archives
  //- h1.title=title
  //-   small.number
  //-     | (#{number})

  .archives
    each archive in archives
      .archive
        h2.date
          | #{archive.date.getFullYear()}-#{archive.date.getMonth() + 1}

        ul.posts
          each post in archive.posts
            li
              a.post(href=url_for(post.path))
                .title=post.title
                .meta=post.date.format(config.date_format)

