-
  let title = config.title

  if (page.archive) title += `-${__('archives.title')}`
  else if (page.title) title += ` - ${page.title}`

head
  meta(name="description", content=config.description)
  meta(name="author", content=config.author)
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(http-equiv="XUA_Compatible", content="IE=edge")

  if theme.sw
    meta(name="sw", content='true')
  if theme.ga.active
    meta(name="ga", content=theme.ga.id)
  if theme.ba.active
    meta(name="ba", content=theme.ba.id)
  if (theme.comment.active && page.comment)
    meta(name="comment.apiKey", content=theme.comment.apiKey)
    meta(name="comment.authDomain", content=theme.comment.authDomain)
    meta(name="comment.databaseURL", content=theme.comment.databaseURL)
    meta(name="comment.projectId", content=theme.comment.projectId)
    meta(name="comment.storageBucket", content=theme.comment.storageBucket)
    meta(name="comment.messagingSenderId", content=theme.comment.messagingSenderId)
    meta(name="comment.appId", content=theme.comment.appId)

  link(rel="icon", href=url_for(theme.favicon))
  link(rel="stylesheet", href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet", href="https://unpkg.com/firement@0.0.5/dist/style.css")
  link(rel="stylesheet", href="/css/layout.css")

  title=title
