head
  mate(name="description", content=config.description)
  mate(name="author", content=config.author)
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(http-equiv="XUA_Compatible", content="IE=edge")
  title #{config.title}
  link(rel="icon", href=config.root + "favicon/favicon.ico")
  link(rel="stylesheet", href=config.root + "bootstrap/css/bootstrap.min.css")
  link(rel="stylesheet", href=config.root + "css/ie10-viewport-bug-workaround.css")
  link(rel="stylesheet", href=config.root + "css/blog.css")
  


