head
  meta(name="description", content=config.description)
  meta(name="author", content=config.author)
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  meta(http-equiv="XUA_Compatible", content="IE=edge")

  link(rel="icon", href=url_for(theme.favicon))
  link(rel="stylesheet", href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css")
  link(rel="stylesheet", href=config.root + "fonts/fonts.css")
  link(rel="stylesheet", href=config.root + "css/layout.css")

  title= config.title
